:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --splashscreen-startup-background: #111b21;
  --splashscreen-startup-icon: #676f73;
  --splashscreen-primary-title: rgba(233, 237, 239, 0.88);
  --splashscreen-secondary-lighter: #667781;
  --splashscreen-progress-primary: #0b846d;
  --splashscreen-progress-background: #233138;

  --app-background: #0c1317;
  --app-background-deeper: #0a1014;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  background: linear-gradient(
    var(--app-background),
    var(--app-background-deeper)
  );
}

#main {
  height: 100%;
  width: 100%;
  margin: auto;
  min-width: 750px;
}

@media (max-width: 750px) {
  #app {
    padding-bottom: 2px;
  }
}

@media (min-width: 1450px) {
  #main {
    height: calc(100% - 2.5rem);
    width: calc(100% - 2.5rem);
    margin: 1.25rem auto;
  }
}

@media (min-width: 1300px) {
  #tab-1 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  #tab-1 {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.16);
}
